*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    
  }
body{
    font-family: 'Roboto Mono', monospace;
}

nav{
    text-align: center;
}
nav ul li{
    
    display: inline-block;
    color: white;
    padding: .5% 1%;
    border-radius: 10px;
    margin: 2% 5% 5% 5%;
    width: 13%;
    
    
}
nav a {
    text-decoration: none;
    color:white;
   
    
}
.orange {
    background-color: #FF764E;
}
.blue {
    background-color: #5ED3EB;
}
.yellow {
    background-color: #FFCD69;
}
.bottom {
    height: 200px;
    width: 100%;
    margin:0;
    max-height: 20%;
    object-fit: cover;
    object-position: 0 15%;
    
}
header {
    text-align: center;
}

.fire {
    width: 50%;
    margin-top: 10%;
}
.car {
    width: 50%;
    
}
section {
    width: 90%;
    background-color: #DDB9A3;
    color:white;
    margin: 0 auto;
    text-align: center;
    padding: .5% 1%;
}
section p {
    margin-bottom: 2%;
    margin-top: 2%;
    
}
.middle {
    text-align: center;
    width: 25%;
    margin: 0 auto;
}
.middle p{
    margin-top: 5%;
    margin-bottom: 25%;
}
.footer {
    background-color: #F9E7DC;
}
h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 3rem;
    
}
.left{
    width: 20%;
    border-radius: 200px;
    
    
}
.right {
    width:55%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.left, .right {
    display: inline-block;
}
span {
    font-weight: bold;
}
.right h1, .right p {
    padding: 3%;
}
